.button {
  width: fit-content;
  padding: 7px 10px 10px;
  background-color: lightgreen;
  border-radius: 10px;
  border-color: lemonchiffon;
  min-width: 160px;
  height: 40px;
  font-size: 15px;
  outline: none;

  &--correct {
    border-color: limegreen;
    background-color: white;
    margin-right: 10px;
  }

  &--wrong {
    border-color: red;
    background-color: white;
  }

  &--answer {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-color: limegreen;
  }
}
