.question-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  &__question {

  }
}

.question {

  &__title {
  }

  &__text {
  }
}

.title {
  color: limegreen;
}

.text {
  font-size: larger;
}